@import '../../style/variables.scss';

.customer{
    position: relative;
    &__title{
        @extend %h2;
        text-align: center;
        padding-bottom: 30px;
    }
    &__row{
        &_fio{
            width: 30%;
        }
        &_tel{
            width: 8%;
        }
        &_last{
            width: 8%;
            border-radius: 0 20px 0 0;
            text-align: center;
            font-size: 38px;
            cursor: pointer;
            transition: color 300ms linear;
            &:hover{
                color: $light-text;
            }
        }
    }
}