# dependencies
/photostudio/node_modules
/photostudio/.pnp
/photostudio/.pnp.js

# testing
/photostudio/coverage

# production
/photostudio/build

# misc
/photostudio/.DS_Store
/photostudio/.env.local
/photostudio/.env.development.local
/photostudio/.env.test.local
/photostudio/.env.production.local

/photostudio/npm-debug.log*
/photostudio/yarn-debug.log*
/photostudio/yarn-error.log*


/server/node_modules