@import '../../style/variables.scss';

.services{
    position: relative;
    &__title{
        @extend %h2;
        text-align: center;
        padding-bottom: 30px;
    }
    &__row{
        &_name{
            width: 40%;
        }
        &_price{
            width: 26%;
        }
        &_last{
            width: 10%;
            border-radius: 0 20px 0 0;
            text-align: center;
            font-size: 38px;
            cursor: pointer;
            transition: color 300ms linear;
            &:hover{
                color: $light-text;
            }
        }
    }
}