@import '../../style/variables.scss';

.modalResults{
    width: 500px;
    height: 300px;
    padding: 20px 10px;
    background-color: $light-back;
    border-radius: 20px;
    &__header{
        @extend %modalHeader;
    }
    &__content{
        @extend %link-order;
        &_date{
            padding: 30px 5% 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 5%;
    }
}